---
import BaseLayout from "../layouts/BaseLayout.astro"; // 1. Importas el Layout
import LoginForm from "../components/LoginForm.vue"; // Importas tu componente de Vue
---

<BaseLayout title="Iniciar Sesión">
  <h1>Iniciar Sesión</h1>

  <LoginForm client:load />

  <br />
  <button class="button button-register"
    ><a href="/rexistro">Non tes unha conta? Rexístrate aquí</a></button
  >
</BaseLayout>
