---
import RegisterForm from "../components/RegisterForm.vue";
import AuthLayout from "../layouts/AuthLayout.astro";
---

<AuthLayout title="Rexistro">
  <h1>Rexístrate</h1>

  <RegisterForm client:load />

  <br />
  <button class="button button-login"
    ><a href="/login">Xa tes unha conta? Inicia sesión aquí</a></button
  >
</AuthLayout>
